<!DOCTYPE html>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.common.dev.js"></script>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <div v-if="show"> 你可以看见我吗？ </div>
            <div v-else> 我出现了 </div>
            <button @click="show = !show"> 消失/出现 </button>

            <div>
                <ul>
                    <!--  i 为下标，ingr 为数组 -->
                    <li v-for="(ingr, i) in ingr">{{ ingr }}({{ i }})</li>
                </ul>
                <ul>
                    <li v-for="list in lists">
                        <div v-for="(value, key, index) in list">{{ key }}: {{ value }}({{ index }})</div>
                    </li>
                </ul>

                <ul>
                    <li v-for="i in 10">{{ i }}</li>
                </ul>
            </div>
        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    show: true,
                    ingr: ["a", "b", "c"],
                    lists: [
                        {name: 'a', age: '16', colo: 'd'},
                        {name: 'b', age: '18', colo: 'c'}
                    ]
                },
                methods: {

                }
            });

        </script>
        <script src="" async defer></script>
    </body>
</html>